@use 'variables' as var;

/* Mobile CSS
================================================== */
@media only screen and (max-width: 1350px){
	.footer-left {
		left: 0.25em;
	}

	.footer-right {
		right: -4.5em;
	}
}

@media only screen and (max-width: 1250px){
	.footer-left, .footer-right {
		display: none;
	}
}


/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 1024px){}

@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 1300px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {
	
	.nav-panel-mobile {
		display: block;
	}
	
	.menu {
		display: none;
	}
	
	#intro-wrapper {
		min-height: 100vh;
		height: auto;
		padding: 150px 0px 0px;

		.intro, .intro.light {
			font-size: 24px;
			line-height: 28px;
		}

		#name .turner {
			font-size: 50px;
		}

		.name-border {
			width: 100%;
		}
	}

	#projects-wrapper {
		padding: 0;
		margin: 100px 0px;
		min-height: auto;
		height: auto;

		.projects-container {
			gap: 4rem;
		}

		.project-tile {
			flex-direction: column-reverse;
			padding-bottom: 25px;
			border-bottom: 1px solid var.$secondary_color;
			
			&:nth-child(2n) {
				flex-direction: column-reverse;
				padding-bottom: 25px;
				border-bottom: 1px solid var.$secondary_color;
			}

			&:nth-of-type(4), &:nth-of-type(6) {
				border-bottom:none;
			}
			
			&.tile-border {
				border-bottom: 1px solid var.$secondary_color;
			}

			ul.stack {
				justify-content: center;
			}
	
			.text-box .external-links {
				display: flex;
				gap: 0.75rem;
				margin-inline: auto;
			}
		}

		.toggler h4 {
			margin-top: 50px;
		}
	}


	#about-wrapper {
		padding: 75px 0px 25px;
		height: auto;

		.skill-container {

			.skill-row {
				flex-direction: column;

				.skill-wrapper {
					padding: 25px 0px;
				}
			}
		}
	}
	
	#contact-wrapper {
		height: auto;
		padding: 75px 0px 25px;
	}
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	.logo img {
		max-width: 50px;
	}

	#projects-wrapper {
		padding: 0;
		margin: 100px 0px;
		min-height: auto;
		height: auto;

		.projects-container {
			gap: 4rem;
		}

		.project-tile {
			flex-direction: column-reverse;
			padding-bottom: 25px;
			border-bottom: 1px solid var.$secondary_color;
			
			&:nth-child(2n) {
				flex-direction: column-reverse;
				padding-bottom: 25px;
				border-bottom: 1px solid var.$secondary_color;
			}

			&:nth-of-type(4), &:nth-of-type(6) {
				border-bottom:none;
			}
			
			&.tile-border {
				border-bottom: 1px solid var.$secondary_color;
			}

			ul.stack {
				justify-content: center;
			}
	
			.text-box .external-links {
				display: flex;
				gap: 0.75rem;
				margin-inline: auto;
			}
		}

		.toggler h4 {
			margin-top: 50px;
		}
	}

	#about-wrapper {
		padding: 0;
		margin: 100px 0px 0px;
		min-height: auto;
		height: auto;

		.skill-container {
			padding: 50px 25px 0px;

			.skill-row {
				margin-bottom: 0;
	
				.skill-icon {
					margin-bottom: 15px;
				}
	
				.skill {
					margin-bottom: 15px;
				}
			} 
		}
	}

	#contact-wrapper {
		padding: 0;
		margin: 50px 0px;
		min-height: auto;
		height: auto;
	}
}