// Global Variables

// Site Colors
$primary_color: #419d78;
$secondary_color: #84dd63;
$tertiary_color: #cbff4d;
$body_color: #545454;
$alt_color: #8b8f84;

//Content width
$container_width: 1200px;

//Base Styles
$base_font_size: 18px;
$primary_font: 'Roboto', sans-serif;
$secondary_font: 'Fira Mono', monospace;
$body_weight: 400;
$body_bg_color: #f0f5f0;
$body_line_spacing: 24px;
$body_letter_spacing: 1px;

//Heading Variables
$heading_weight: 700;
$heading_font: $primary_font;

//H1 Styles
$h1_font: $primary_font;
$h1_font_size:36px;
$h1_weight: $heading_weight;
$h1_color: $body_color;
$h1_line_spacing: 44px;
$h1_bottom_margin: 20px;
$h1_top_margin: 10px;

//H2 Styles
$h2_font: $primary_font;
$h2_font_size: 50px;
$h2_weight: $heading_weight;
$h2_color: $primary_color;
$h2_line_spacing: 60px;
$h2_bottom_margin:25px;
$h2_top_margin: 0px;

//H3 Styles
$h3_font: $primary_font;
$h3_font_size: 24px;
$h3_weight: $heading_weight;
$h3_color: $alt_color;
$h3_line_spacing: 30px;
$h3_bottom_margin: 10px;
$h3_top_margin: 0px;

//H4 Styles
$h4_font: $primary_font;
$h4_font_size: 22px;
$h4_weight: 500;
$h4_color: $body_color;
$h4_line_spacing: 28px;
$h4_bottom_margin: 10px;
$h4_top_margin: 0px;

//H5 Styles
$h5_font: $primary_font;
$h5_font_size: 20px;
$h5_weight: $heading_weight;
$h5_color: $alt_color;
$h5_line_spacing: 26px;
$h5_bottom_margin: 10px;
$h5_top_margin: 0px;

//Link Variables
$link_color: $primary_color;
$link_weight: 500;
$link_style: none;

//Link Hover Variables
$link_hover_color: $primary_color;
$link_hover_weight: 500;
$link_hover_style: underline;

//Button Variables
$button_color: $body_color;
$button_padding: 12px 50px;
$button_font: $primary_font;
$button_font_size: $base_font_size;
$button_font_weight: 700;
$button_bg_color: $secondary_color;
$button_border_color: $secondary_color;
$button_border_radius: 30px;
//Button Hover Variables
$button_hover_color: #ffffff;
$button_hover_font_weight: $button_font_weight;
$button_hover_bg_color: $primary_color;
$button_hover_border_color: $primary_color;