@charset "utf-8";
/* CSS Document */

/* color scheme 

grey - #545454
emerald - #419d78
green - #84dd63
green yellow - #cbff4d
deep blue - #2f2963

*/

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body,
html {
    margin: 0;
    font-size: 18px;
    color: #545454;
    scroll-behavior: smooth;
	background: #f0f5f0;
}

header {
    width: 100%;
	background: #fff;
	background: #f0f5f0;
    position: fixed;
    padding: 10px 0px 10px;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header.scrolled {
    box-shadow: 0px 1px 16px 3px rgb(0 0 0 / 10%);
}

#main_content {
    color: #545454;
    width: 100%;
    margin: 0px;
    padding: 0px 0px;
/*    background-image: url(../images/bg_dot.png);*/
}

a, a:link, a:visited, a > span {
	position: relative;
	color:#419d78;
	text-decoration: none;
}

a:before, a:after, a > span:before, a > span:after {
	content: '';
	position: absolute;
	transition: transform .5s ease;
}

p {
    margin-bottom: 10px;
}

.nav_anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

.row {
    margin-bottom: 25px;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0;
}


/* =============== Header & Navigation ==================== 
   ========================================================*/
.logo {
    display: inline-block;
    max-width: 62px;
	margin-left: 20px;
}

.logo img {
    float: left;
}

.logo img:hover {
	-webkit-animation: pulsate-bck 1s ease-in-out 3 both;
	animation: pulsate-bck 1s ease-in-out 3 both;
/*
    -webkit-animation: rotate-center 0.6s ease-in-out both;
	animation: rotate-center 0.6s ease-in-out both;
*/
}

ul.menu {
    margin: 20px 0px 0px;
    float: right;
}

ul.menu li {
    text-align: center;
    display: inline;
    margin: 10px 40px;
    font-size: 18px;
}

ul.menu li:last-of-type {
    margin: 10px 0px 10px 40px;
}

ul.menu li a {
    color: #545454;
    vertical-align: middle;
	transition: color .5s;
}

ul.menu li a:hover, ul.menu li.active_menu a {
    color: #419d78;
	font-weight: 700;
}

.underline {
    padding-bottom: 5px;
}

.underline:before {
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 75px;
    height: 2px;
    background: #84dd63;
    transform: scaleX(0);
}

.underline:hover:before, ul.menu li.active_menu .underline:before {
    transform: scaleX(1);
}

#header_border {
    height: 5px;
    width: 100%;
    position: relative;
    z-index: 998;
    margin-top: 10px;
}

/* =============== Intro styles ========================= 
   ========================================================*/
#intro_wrapper {
    height: 100vh;
    padding: 250px 0px 0px;
	background: #f0f5f0;
}

.hello {
    font-size: 55px;
    line-height: 50px;
    margin-bottom: 0px;
    font-weight: 500;
/*    color: #84dd63;*/
	color: #419d78;
}

.name_border {
	height: 5px;
    width: 31%;
    margin-top: 10px;
    margin-bottom: 30px;
	opacity: 0;
}

.name_border span {
	height: 5px;
    width: 100%;
    display: block;
}

.intro {
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
	margin-bottom: 20px;
}

.intro_container p:nth-of-type(4) {
	font-weight: 400;
	line-height: 40px;
}

.intro_arrow {
    margin-top: 100px;
}

/* =============== Projects styles ========================= 
   ========================================================*/

#projects_wrapper {
    padding: 50px 0px 100px;
    min-height: 100vh;
	background: #f0f5f0;
}

h2.projects_header {
    max-width: fit-content;
    margin: 0 auto 20px;
	opacity: 0;
}

h2.projects_header:after {
	content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    margin: 5px auto 0px;
    height: 3px;
    background: #84dd63;
    transform: scaleX(0);
	transition: transform .5s ease 1s;
}

.active_section h2.projects_header:after {
    transform: scaleX(100%);
}

p.projects_intro {
	opacity: 0;
}

h3.project_title {
	
}

.projects_container {
    -webkit-margin-before: 3rem;
    display: grid;
    gap: 4rem;
    grid-template-rows: repeat(4,1fr);
    margin-block-start: 3rem;
}
	
.projects_container .project_tile, .projects_container_secondary .project_tile {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
	opacity: 0;
}	

.projects_container .project_tile:nth-child(2n), .projects_container_secondary .project_tile:nth-child(2n) {
    flex-direction: row-reverse;
}

.projects_container_secondary {
    -webkit-margin-before: 3rem;
    display: grid;
    gap: 4rem;
	grid-template-rows: repeat(2,1fr);
    margin-block-start: 4rem;
}
	
.text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 90%;
}

.text_box .external_links {
    display: flex;
    gap: 0.75rem;
}

.text_box .external_links i {
    font-size: 25px;
}

.text_box .external_links i.fa-external-link-alt {
    font-size: 22px;
	vertical-align: middle;
}
	
.project_tile .image_box {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_tile .image_box img {
/*    filter: saturate(10%) drop-shadow(0.5em 0.5em 0.25em rgb(132 221 99 / 30%));*/
	filter: drop-shadow(0.5em 0.5em 0.25em rgb(132 221 99 / 30%));
    margin-inline: auto;
    max-width: 95%;
    opacity: .8;
    transition: all cubic-bezier(.455,.03,.515,.955) .3s;
}	

.project_tile .image_box img:hover {
    filter: none;
	box-shadow: 2px 2px 2px 0 rgb(0 0 0 / 10%);
    opacity: 1;
    transform: translateY(-0.25em);
}	

.project_tile .stack {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 10px 0;
}

.project_tile .stack .item {
    background-color: rgb(132 221 99 / 75%);
    border-radius: 0.25em;
    color: #545454;
    font-family: 'Fira Mono', monospace;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .2px;
    padding: 0.25em 0.75em;
}

.toggler {
    cursor: pointer;
	text-align: center;
	opacity: 0;
 }
    
.toggle_info {
    display: none;
}
						
.toggler h4 {
	overflow: hidden;
    margin-top: 100px;
    text-align: center;
    color: #429d78;
	font-size: 18px;
}

.toggler h4:before,
.toggler h4:after {
	background-color: #84dd64;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.toggler h4:before {
	right: 1.5em;
	margin-left: -50%;
}

.toggler h4:after {
	left: 1.5em;
	margin-right: -50%;
}	

/* =============== About/Skills styles ========================= 
   ========================================================*/

#about_wrapper {
    margin: 100px 0px 50px;
    min-height: 100vh;
    background: #84dd63;
	background: #f0f5f0;
}

h2.about_header {
	padding-top: 50px;
    max-width: fit-content;
    margin: 0 auto 20px;
	opacity: 0;
}

h2.about_header:after {
	content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    margin: 5px auto 0px;
    height: 3px;
    background: #84dd63;
    transform: scaleX(0);
	transition: transform .5s ease 1s;
}

.active_section h2.about_header:after {
    transform: scaleX(100%);
}

h3.about_intro {
	max-width: 1020px;
    margin: 0 auto;
	opacity: 0;
}

.skill_container {
	min-height: 600px;
	border-radius: 10px;
	padding: 50px 25px;
	transition: all 300ms;
	margin: 0 auto;
	opacity: 0;
}

.skill_row {
	display: flex;
}

.skill_row .vertical_bar {
    background-color: #419d78;
    height: 470px;
    width: 1px;
	opacity: 0;
}

.skill_wrapper {
    padding: 0px 20px;
    flex-basis: 33%;
    text-align: center;
	opacity: 0;
}

.skill_icon i {
	border-radius: 50%;
    border: 5px solid #4fa380;
    width: 100px;
    height: 100px;
    line-height: 90px;
    font-size: 40px;
    color: #84dd63;
}

.skill_icon i:hover {
    -webkit-animation: pulsate-bck 1s ease-in-out 3 both;
    animation: pulsate-bck 1s ease-in-out 3 both;
}

h4.skill_title {
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    margin: 0px 0px 10px;
}

.skill_header {
    color: #419d78;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0px 0px 10px;
}


/* =============== Contact styles ========================= 
   ========================================================*/

#contact_wrapper {
    width: 100%;
    margin: 150px 0px 0px;
    min-height: 65vh;
    background-color: #545454;
    background: #f0f5f0;
    text-align: center;
}

.contact_title {
	opacity: 0;
	text-align: center;
}

.contact_text {
	opacity: 0;
	margin: 0px 0px 50px;
}
.contact_button {
	opacity: 0;
}

.social_icons {
    text-align: center;
	opacity: 0;
}

.social_box .fab, .social_icons .fab {
    color: #cbff4d;
	background: #419d78;
    font-size: 18px;
    border: 1.5px solid #419d78;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.social_box .fab:hover, .social_icons .fab:hover {
    color: #419d78;
	background: #cbff4d;
    border: 1.5px solid #cbff4d;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.social_box .fa-linkedin-in, .social_icons .fa-linkedin-in {
    padding: 10.75px 9.14px;
}

.social_box .fa-github, .social_icons .fa-github {
    padding: 10.75px 8.29px;
}

.social_icons .fa-codepen{
    padding: 10.75px 8px;
} 

.social_icons .fa-instagram {
    padding: 10.75px 9.14px;
}

/* =============== Footer Styles ========================= 
   ========================================================*/
.footer_left {
    opacity: 0;
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.footer_left, .footer_left .social_box {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}
			
.footer_left {
    align-items: center;
    bottom: 0;
    left: 1.5em;
    position: fixed;
    z-index: 30;
}		
	
.vertical_bar {
    background-color: #419d78;
    height: 4rem;
    width: 1px;
}	
	
.footer_right {
	opacity: 0;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 4.75em;
    position: fixed;
    right: -2.5em;
    z-index: 30;
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}	
	
.footer_right .email {
    font-weight: 700;
    text-decoration: none;
    transform: rotate(90deg);
    transition: all cubic-bezier(.39,.575,.565,1) .2s;
}	

.footer_center {
	text-align: center;
	font-weight: 500;
	margin: 10px 0px;
    font-size: 14px;
}

/* =============== Default Styles ========================= 
   ========================================================*/

h1 {
	color: #545454;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin: 10px 0px 20px;
}

h2 {
	font-size: 50px;
    color: #419d78;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 25px;
}

h3 {
	color: #8b8f84;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin: 0px 0px 10px;
}

h4 {
	color: #545454;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin: 0px 0px 10px;
}

h5 {
	color: #84dd63;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0px 0px 10px;
}


/* =============== Mobile Menu ========================= 
   ========================================================*/

.nav-panel-mobile {
	width: 100%;
    background: transparent;
    height: 40px;
    position: fixed;
    z-index: 9999;
	display: none;
}

.button_container {
  	position: fixed;
    top: 35px;
    right: 20px;
    height: 25px;
    width: 35px;
    cursor: pointer;
    z-index: 100000;
    transition: opacity .25s ease;
}

.button_container.menu_active .top {
  transform: translateY(8px) translateX(0) rotate(45deg);
  background: #454545;
}

.button_container.menu_active .middle {
  opacity: 0;
  background: #454545;
}

.button_container.menu_active .bottom {
  transform: translateY(-8px) translateX(0) rotate(-45deg);
  background: #454545;
}

.button_container span {
  background: #454545;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}

.nav-panel-mobile .button_container span:nth-of-type(2) {
  top: 8px;
}

.nav-panel-mobile .button_container span:nth-of-type(3) {
  top: 16px;
}

.nav-panel-mobile .overlay {
	position: fixed;
	z-index: 999;
	background: #84dd63;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;
}
.nav-panel-mobile .overlay.open {
	opacity: 1;
	visibility: visible;
	height: 100%;
}
.nav-panel-mobile .overlay.open li {
  	animation: fadeInRight .5s ease forwards;
  	animation-delay: .35s;
}
.nav-panel-mobile .overlay.open li:nth-of-type(2) {
  	animation-delay: .45s;
}
.nav-panel-mobile .overlay.open li:nth-of-type(3) {
  	animation-delay: .55s;
}
.nav-panel-mobile .overlay.open li:nth-of-type(4) {
  	animation-delay: .65s;
}

.nav-panel-mobile .overlay nav {
	position: relative;
	height: 70%;
	top: 60%;
	transform: translateY(-50%);
	text-align: center;
	right: auto;
}

.nav-panel-mobile .overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
	width: 100%;
}

.nav-panel-mobile .overlay ul li {
  	margin: 0 auto 40px;
    display: block;
  	height: 25px;
  	position: relative;
  	opacity: 0;
}
.overlay ul li a {
	display: block;
	position: relative;
	color: #454545;
	text-transform: uppercase;
    overflow: hidden;
    padding-bottom: 5px;
	font-weight: 600;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/* =============== Media Queries ========================= 
   ========================================================*/

@media only screen and (max-width: 1200px){
	.inner_wrapper {
		width: 65%;
	}
}
    
@media only screen and (max-width: 1024px){

	.home_wrapper {
		width: 75%;
	}

	.inner_wrapper {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 88px;
	}

}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1335px) {
	
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {
	.nav-panel-mobile {
		display: block;
	}
	
	.menu {
		display: none;
	}
	
	#intro_wrapper {
		min-height: 100vh;
		height: auto;
		padding: 150px 0px 0px;
	}
	
	.intro {
		font-size: 24px;
		line-height: 28px;
	}
	
	.hello {
		font-size: 50px;
		margin-bottom: 30px;
	}
	
	#about_wrapper {
		padding: 75px 0px 0px;
		min-height: calc(100vh - 90px);
		height: auto;
	}
	
	.skill_container, .skill {
		opacity: 1;
	}
	
	.skill_container .four.columns:nth-of-type(2) {
		border-left: none;
		border-right: none;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	
	.skill_wrapper {
		padding: 25px 0px;
	}

	#projects_wrapper {
		padding: 75px 0px 25px;
		min-height: calc(100vh - 95px);
		height: auto;
	}
	
	.project_tile, #projects_wrapper h2 {
		opacity: 1;
	}
	
	#projects_wrapper .four.columns {
		margin-bottom: 25px;
	}
	
	#projects_wrapper .row:nth-of-type(1) {
		margin-bottom: 0px !important;
	}
	
	#contact_wrapper {
		min-height: calc(100vh - 95px);
		height: auto;
		padding: 75px 0px 25px;
	}
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}

@media only screen and (max-width: 540px) {

	ul.menu {
		font-size: 24px;
		line-height: 34px;
	}

	.home_wrapper {
		width: auto;
		margin: 50px auto 0;
		padding: 40px 20px;
	}
	.inner_wrapper {    
		margin: 0;
	}

}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
	
	
}


/* iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { }

/* iPad in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {  }
