@charset "utf-8";
/* CSS Document */

/* red color options - 
        #91171F darker
        #BD1E1E lighter/brighter
*/

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body,
html {
/*    background-color: rgba(10, 10, 10, 0.9);*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #fff;
}

h1 {
    font-size: 34px;
    color: #BD1E1E;
    text-transform: uppercase;
}

h1.title {
    text-align: center;
    margin-bottom: 25px;
}

h2 {
    font-size: 28px;
    color: #91171F;
    margin-bottom: 15px;
}


h3 {
    font-size: 22px;
    color: #91171F;
}

h4 {
    color: #fff;
    text-transform: uppercase;
}

h5 {
    font-size: 21px;
    text-transform: uppercase;
}

a, a:link, a:visited {
    color:#BD1E1E;
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}


.main_content a {
	color: #BD1E1E;
    -webkit-transition: color 0.35s linear;
    transition: color 0.35s linear;
}

a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a:before, a:after, a > span:before, a > span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

.underline {
  padding-bottom: 5px;
}
.underline:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
}
.underline:hover:before {
  transform: scaleX(1);
}

.outer_wrapper {
    background-image: url("../images/brewery_bg.jpg");
    background-size: cover;
    background-position: left;
    position: absolute;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    margin-top: 56px;
}

.about_bg {
    background-image: url("../images/flight2.jpg");
 
}

.beers_bg {
    background-image: url("../images/tanks.jpg");
    min-height: 1250px;
}

.contact_bg {
    background-image: url("../images/aces.jpg");
}

.home_wrapper {
    background-color: rgba(38,38,38,.9);
    border-radius: 0px;
    padding: 60px;
    width: 50%;
    margin: 150px auto 0;
    max-width: 650px;
}

.beers_bg .main_content {
    min-height: 1025px;
}

.inner_wrapper {
    box-shadow: 0 0 8px rgba(0,0,0,.4);
    width: 50%;
    margin: 56px auto 30px;
}

.logo{
    position: relative;
    padding: 0px 25px;
    text-align: center;
    background-color: rgba(18,18,18,.9);
    min-height: 250px;          /* Remove once logo has been added */
}

.logo img {
    text-align: center;
    margin: 25px 0px 0px;
}

.main_content {
    background-color: rgba(38,38,38,.9);
    padding: 50px 50px;
    width: 100%;
    margin: 0 auto;
}


.footer {
    margin: 0 auto;
    width: 100%;
    color: #fff;
    padding: 25px;
    background-color: rgba(18,18,18,.9);
    min-height: 165px;          /* Remove ?? */
}

.footer p {
    text-align: center;
}


/* =============== Age Verification Pop Up ==================== 
   ========================================================*/
#age-verify {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 500ms;
    z-index: 50;
}
#age-verify .window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 250px;
    overflow: hidden;
    padding: 40px;
    margin-left: -200px;
    margin-top: -125px;
    background-color: #000;
    border: 6px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
    transition: 500ms;
}
#age-verify .window span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
#age-verify .window span.title {
    color: #BD1E1E;
    font-size: 28px;
    font-weight: 900;
}
#age-verify .window button {
    border: 0;
    margin: 0;
    padding: 0;
    width: 48%;
    height: 60px;
    color: #FFF;
    font-size: 18px;
    background-color: #BD1E1E;
    margin-top: 20px;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: .2s;
}
#age-verify .window button.back {
    display: block;
    float: none;
    margin: auto;
    background-color: #BD1E1E;
    color: #fff;
    margin-top: 20px;
}
#age-verify .window button.yes {
    float: left;
}
#age-verify .window button.no {
    float: right;
}
#age-verify .window button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
    background-color: #f29488;
}
#age-verify .window .underBox {
    position: absolute;
    width: 400px;
    height: 250px;
    padding: 40px;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #000;
    transition: 500ms;
    box-sizing: border-box;
}

#age-verify.hidden {
    opacity: 0;
    visibility: hidden;
}
#age-verify.hidden .window {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}
#age-verify.under .window .underBox {
    top: 0%;
}

/* =============== Homepage Styles ==================== 
   ========================================================*/
 /* The flip card container - set the width and height to whatever you want.
(remove perspective if you don't want the 3D effect) */
 .flip-card-home {
    background-color: transparent;
    width: 100%;
    height: 382px;
    border: none;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

 .flip-card-sub {
    background-color: transparent;
    width: 250px;
    margin: 0 auto;
    height: 220px;
    border: none;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

    /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
 }
    /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-home:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.flip-card-sub:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
    /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
    /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: transparent;
}
    /* Style the back side */
.flip-card-back {
    background-color: transparent;
    transform: rotateY(180deg);
    transition: transform 0.5s ease-in-out;
}

.pulse {
  display: block;
  border-radius: 0%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(180,30,30, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(180,30,30, 0.6);
    -moz-box-shadow: 0 0 0 0 rgba(180,30,30, 0.6);
    box-shadow: 0 0 0 0 rgba(180,30,30, 0.6);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(180,30,30, 0);
      -moz-box-shadow: 0 0 0 100px rgba(180,30,30, 0);
      box-shadow: 0 0 0 100px rgba(180,30,30, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(180,30,30, 0);
      -moz-box-shadow: 0 0 0 0 rgba(180,30,30, 0);
      box-shadow: 0 0 0 0 rgba(180,30,30, 0);
  }
}


/* =============== Header & Navigation ==================== 
   ========================================================*/

.navbar {
    position: fixed;
    width: 100%;
    padding: 0px 0px 10px;
    background-color: rgba(10, 10, 10, 0.9);
    z-index: 200;
}

.social_icons {
    position: relative;
    padding: 10px 0px 0px 30px;
    z-index: 150;
}

.fab {
    color: #fff;
    font-size: 18px;
    border: 1.5px solid #fff;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-transition: color .5s ease-in-out, border .5s ease-in-out;
    -moz-transition: color .5s ease-in-out, border .5s ease-in-out;
    -o-transition: color .5s ease-in-out, border .5s ease-in-out;
    transition: color .5s ease-in-out, border .5s ease-in-out;
}

.fab:hover {
    color: #BD1E1E;
    border: 1.5px solid #BD1E1E;
    -webkit-transition: color .5s ease-in-out, border .5s ease-in-out;
    -moz-transition: color .5s ease-in-out, border .5s ease-in-out;
    -o-transition: color .5s ease-in-out, border .5s ease-in-out;
    transition: color .5s ease-in-out, border .5s ease-in-out;
}

.fa-facebook-f {
    padding: 10px 11px;
}
.fa-twitter{
    padding: 10px 8px;
} 
.fa-instagram {
    padding: 10px 9px;
}
.fa-facebook-f:before {
    content: "\f39e";
}
.fa-twitter:before {
    content: "\f099";
}

.fa-instagram:before {
    content: "\f16d";
}

.menu-btn {
    position: fixed;
    top: 15px;
    right: 25px;
    z-index: 999;
    display: inline;
    font-size: 32px;
}

.hamburger .line {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger {
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburger.is-active{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 43px;
    height: 43px;
    border: 3px solid transparent;
    top: calc(50% - 16px);
    left: calc(50% - 22px);
    border-radius: 100%;
}

#hamburger.is-active:before{
    border: 2px solid #BD1E1E;
}

#hamburger.is-active .line {
    width: 25px;
    background-color: #BD1E1E;
}
#hamburger.is-active .line:nth-child(2){
    opacity: 0;
}

#hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -o-transform: translateY(12px);
    transform: translateY(12px);
}

#hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-2px) rotate(90deg);
    -moz-transform: translateY(-2px) rotate(90deg);
    -o-transform: translateY(-2px) rotate(90deg);
    transform: translateY(-2px) rotate(90deg);
}

nav {
    z-index: 190;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    overflow: hidden;
}
nav:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(18,18,18,.97);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
}
.open nav {
    top: 0;
}
.open nav:before {
    animation: menu-animation 1s ease-out forwards;
}

ul.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    backface-visibility: hidden;
    perspective: 1000;
    color: white;
    font-size: 34px;
    text-transform: uppercase;
    line-height: 44px;
}
ul.menu li {
    opacity: 0;
    text-align: center;
    transform: translate3d(0, 36px, 0);
    display: inline-block;
    margin: 0;
    padding: 20px 0px 0px;
    width: 100%;
    list-style: none;
}

ul.menu li a {
    color: #fff;
    vertical-align: middle;
}
ul.menu li a:hover {
    color: #BD1E1E;
    font-weight: bold;
}
.open ul.menu li {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.open ul.menu li:nth-child(1) {
    transition-delay: 0.75s;
}
.open ul.menu li:nth-child(2) {
    transition-delay: 0.85s;
}
.open ul.menu li:nth-child(3) {
    transition-delay: 0.95s;
}
.open ul.menu li:nth-child(4) {
    transition-delay: 1.05s;
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
        
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}        
        
nav.stroke ul li a {
    position: relative;
}
nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    border-bottom: 1px solid #fff; 
    color: transparent;
    background: #fff;
    height: 1px;
}
nav.stroke ul li a:hover:after {
    width: 80%;

}
/* =============== About Page styles ========================= 
   ========================================================*/
.winners {
    width: 305px;
    text-align: center;
    margin: 0 auto;
}

.grow:hover
{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition:all 0.3s ease;
}

.shrink:hover
{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition:all 0.3s ease;
}

/* =============== Beers Page styles ========================= 
   ========================================================*/
.beer_wrapper {
    width: 100%;
}

.beer_wrapper .row {
    margin: 0;
}

.beer_nav {
    display: none;
    margin-bottom: 50px;
    text-align: center;
}

.beer_nav_spacer{
    height: 75px;
    text-align: center;
}

.beer_bios {
    width: 100%;
    height: auto;
    padding: 0 50px 0 0;
}

.beer_img {
    text-align: center;
    margin-bottom: 35px;
}

.beer_can {
    max-width: 120px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.beer_can_info {
    max-width: 140px;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}


.highlight-container, .highlight-container-white, .highlight {
    position: relative;
}

.highlight-container, .highlight-container-white {
    display: inline-block;
}

.highlight-container:before, .highlight-container:after, 
.highlight-container-white:before, .highlight-container-white:after {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -5px;
    margin-right: -2px;
    position: absolute;
}
.highlight-container:before {
    background: rgba(145, 23, 31, 0.9);
    transform: rotate(-5deg);
    top: -1px;
    left: -1px;
}
.highlight-container:after {
    background: rgba(239, 38, 38, 0.6);
    top: 3px;
    transform: rotate(2deg);
    right: -2px;
}
.highlight-container .highlight {
    color: rgba(255,255,255);
    z-index: 20;
}

.highlight-container-white:before {
    background: rgba(255,255,255, 0.9);
    transform: rotate(4deg);
    top: 2px;
    left: 5px;
}
.highlight-container-white:after {
    background: rgba(255,255,255, 0.6);
    top: 3px;
    transform: rotate(-5deg);
    right: 9px;
}
.highlight-container-white .highlight {
    color: rgba(239, 38, 38);
    z-index: 20;
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


.beer1_bio, .beer2_bio, .beer3_bio, .beer4_bio, .beer5_bio, .beer6_bio {
    display: none;
    top: 0;
}

.beer1:hover, .beer2:hover, .beer3:hover, .beer4:hover, .beer5:hover, .beer6:hover, .back:hover {
    cursor: pointer;
}



/* =============== Contact Page styles ========================= 
   ========================================================*/

.contact_form {
    margin: 25px auto 0;
    width: 100%;
    max-width: 470px;
    padding: 15px 5px 15px 25px;
}

.hours, .address {
    text-align: center;
    margin-top: 15px;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], 
input[type="tel"], input[type="url"], input[type="password"], textarea {
    width: 100%;
    max-width: 400px;
}


.form_field {
    margin: 7px;
    padding: 10px;
    font-size: 14px;
    background-color: rgba(255,253,231 ,0.1);
    border: 1px solid rgba(236,239,241 ,0.5);
    max-width: 400px;
    color: rgba(245,245,245 ,1);
}


.form_field :focus {
    transition: 0.5s;
    background-color: rgba(255,249,196 ,0.2);
    border-color: #BD1E1E;
    outline: 0;
}


#submit_button {
    width: 100%;
    max-width:400px;
    height: 50px;
    font-size: 16px;
    color: #F5F5F5;
    background-color: #BD1E1E;
    border: 0px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
}

#submit_button:hover {
    transition: 0.5s;
    background-color: #91171F;
}

textarea::-webkit-input-placeholder {
    color: rgba(245,245,245 ,1) !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
    color: rgba(245,245,245 ,1) !important;
    opacity: 1;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(245,245,245 ,1) !important;
    opacity: 1;  
}
 
textarea:-ms-input-placeholder {  
    color: rgba(245,245,245 ,1) !important;  
}

input::-webkit-input-placeholder {
    color: rgba(245,245,245 ,1) !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
    color: rgba(245,245,245 ,1) !important;
    opacity: 1;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(245,245,245 ,1) !important;
    opacity: 1;  
}
 
input:-ms-input-placeholder {  
    color: rgba(245,245,245 ,1) !important;  
}

.form_field , .form_field:focus {
    color: white;
}

.user, .email, .subject, .message {
    color: white;
    margin-top: 15px;
    position: relative;
    right: 35px;
    z-index: 0;
}

.message {
     overflow: hidden;
     bottom: 161px;

}

@keyframes btn-pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.85); }
  to { transform: scale(1); }
}

.btn-pulse-w-pause {
  animation-name: btn-pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.btn-pulse-w-pause:hover,
.btn-pulse-w-pause:focus {
  animation-name: unset;
}

/* =============== Media Queries ========================= 
   ========================================================*/
@media only screen and (max-width: 1200px){
.inner_wrapper {
    width: 65%;
}
}
    
@media only screen and (max-width: 1024px){

.home_wrapper {
    width: 75%;
}
    
.inner_wrapper {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 88px;
}
    
 .beer_bios {
    padding: 0 35px 0;
}   
    
}

@media only screen and (max-width: 768px) {
.home_wrapper {
    width: 90%;
}
    
.inner_wrapper {    
    width: auto;
    margin: 0 15px 88px;
    
    }
    
.contact_form {
    padding: 0;
    }    
    
/*------ Navigation & Header -----------*/
    
.menu-btn {
    right: 25px;
    }
    
.menu li {
    float: none;
    width: 100%;
    height: 25%;
    }
    
}

@media only screen and (max-width: 582px) {
.user, .email, .subject, .message {
    display: none;
    }
}

@media only screen and (max-width: 540px) {

ul.menu {
    top: 42%;
    font-size: 24px;
    line-height: 34px;
}
    
.home_wrapper {
    width: auto;
    margin: 50px auto 0;
    padding: 40px 20px;
}
.inner_wrapper {    
    margin: 0;
}
    
.flip-card-home {
    height:350px;
}
    
#age-verify .window {
    width: 350px;
    margin-left: -175px;
}

.beer_bios {
    padding: 0;
}
    
.beer_can_info {
    margin-bottom: 10px;
}
    
.flip-card-back {
        display: none;
    }
    
.winners {
    width: 100%;
    }
}