@charset "utf-8";
/* CSS Document */

/* red color options - 
        #91171F darker
        #BD1E1E lighter/brighter
*/

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body,
html {
    background-color: rgba(10, 10, 10, 0.9);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

#main {
    max-width: 1250px;
    height: 100%;
}

.outer_wrapper {
    background-image: url("../images/brewery_bg.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
}

.outer_wrapper_about {
    background-image: url("../images/about_bg.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
}

.inner_wrapper {
    box-shadow: 0 0 8px rgba(0,0,0,.4);
    width: 50%;
    margin: 30px auto;
}

.logo{
    position: relative;
    padding: 0px 25px;
    text-align: center;
    background-color: rgba(18,18,18,.9);
    min-height: 250px;          /* Remove once logo has been added */
}

.logo img {
    text-align: center;
    margin: 25px 0px 0px;
}

.main_content {
    background-color: rgba(38,38,38,.9);
    padding: 50px 0;
    width: 100%;
    margin: 0 auto;
    min-height: 650px;        /* Remove once content has been added */
}

.footer {
    margin: 0 auto;
    width: 100%;
    color: #fff;
    padding: 25px;
    background-color: rgba(18,18,18,.9);
    min-height: 165px;          /* Remove ?? */
}

.footer p {
    text-align: center;
    
}

/* =============== Header & Navigation ==================== 
   ========================================================*/

.navbar {
    width: 100%;
    padding: 0px 0px 10px;
    background-color: rgba(10, 10, 10, 0.9);
}

.social_icons {
    position: relative;
    padding: 10px 0px 0px 30px;
}

.fab {
    color: #fff;
    font-size: 18px;
    border: 1.5px solid #fff;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-transition: color .75s ease-in-out, border .75s ease-in-out;
    -moz-transition: color .75s ease-in-out, border .75s ease-in-out;
    -o-transition: color .75s ease-in-out, border .75s ease-in-out;
    transition: color .75s ease-in-out, border .75s ease-in-out;
}

.fab:hover {
    color: #BD1E1E;
    border: 1.5px solid #BD1E1E;
    -webkit-transition: color .75s ease-in-out, border .75s ease-in-out;
    -moz-transition: color .75s ease-in-out, border .75s ease-in-out;
    -o-transition: color .75s ease-in-out, border .75s ease-in-out;
    transition: color .75s ease-in-out, border .75s ease-in-out;
}

.fa-facebook-f {
    padding: 10px 11px;
}

.fa-twitter{
    padding: 10px 8px;
} 

.fa-instagram {
    padding: 10px 9px;
}

.menu-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 999;
    display: inline;
    font-size: 32px;
}

.hamburger .line {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger {
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburger.is-active{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 43px;
    height: 43px;
    border: 3px solid transparent;
    top: calc(50% - 16px);
    left: calc(50% - 22px);
    border-radius: 100%;
}

#hamburger.is-active:before{
    border: 2px solid #BD1E1E;
}

#hamburger.is-active .line {
    width: 25px;
    background-color: #BD1E1E;
}
#hamburger.is-active .line:nth-child(2){
    opacity: 0;
}

#hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  -o-transform: translateY(12px);
  transform: translateY(12px);
}

#hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-2px) rotate(90deg);
  -moz-transform: translateY(-2px) rotate(90deg);
  -o-transform: translateY(-2px) rotate(90deg);
  transform: translateY(-2px) rotate(90deg);
}

nav {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  overflow: hidden;
}
nav:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: rgba(18,18,18,.9);
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  transform: scale(0.04), translateY(9999px);
  overflow: hidden;
}
.open nav {
  top: 0;
}
.open nav:before {
  animation: menu-animation 1s ease-out forwards;
}

ul.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    backface-visibility: hidden;
    perspective: 1000;
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 40px;
}
ul.menu li {
    opacity: 0;
    text-align: center;
    transform: translate3d(0, 36px, 0);
    display: inline-block;
    margin: 0;
    padding: 20px 0px 0px;
    width: 100%;
    list-style: none;
}

ul.menu li a {
    color: #fff;
    vertical-align: middle;
}
ul.menu li a:hover {
    color: #BD1E1E;
    font-weight: bold;
}
.open ul.menu li {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.open ul.menu li:nth-child(1) {
    transition-delay: 0.75s;
}
.open ul.menu li:nth-child(2) {
    transition-delay: 0.85s;
}
.open ul.menu li:nth-child(3) {
    transition-delay: 0.95s;
}
.open ul.menu li:nth-child(4) {
    transition-delay: 1.05s;
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
        
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}        
        
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    border-bottom: 1px solid #fff; 
    color: transparent;
    background: #fff;
    height: 1px;
}
nav.stroke ul li a:hover:after {
    width: 80%;

}
/* =============== Beers Page styles ========================= 
   ========================================================*/

.beer_wrapper .row {
    margin: 0 0 50px 0;
}

.beer_can {
    max-width: 160px;
    width: 100%;
    height: auto;
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.beer1_bio {
display: none;
    top: 0;
}

.beer1:hover, .back:hover {
    cursor: pointer;
}



/* =============== Contact Page styles ========================= 
   ========================================================*/

.contact_form {
    margin: 0 auto;
    width: 100%;
    max-width: 470px;
    padding: 15px 5px 15px 25px;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], 
input[type="tel"], input[type="url"], input[type="password"], textarea {
    width: 100%;
    max-width: 400px;
}


.form_field {
    margin: 7px;
    padding: 10px;
    font-size: 14px;
    background-color: rgba(255,253,231 ,0.1);
    border: 1px solid rgba(236,239,241 ,0.5);
    max-width: 400px;
    color: rgba(245,245,245 ,1);
}


.form_field :focus {
    transition: 0.5s;
    background-color: rgba(255,249,196 ,0.2);
    border-color: #BD1E1E;
    outline: 0;
}


#submit_button {
    width: 100%;
    max-width:400px;
    height: 50px;
    font-size: 16px;
    color: #F5F5F5;
    background-color: #BD1E1E;
    border: 0px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
}

#submit_button:hover {
    transition: 0.5s;
    background-color: #91171F;
}

textarea::-webkit-input-placeholder {
color: rgba(245,245,245 ,1) !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: rgba(245,245,245 ,1) !important;
opacity: 1;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: rgba(245,245,245 ,1) !important;
opacity: 1;  
}
 
textarea:-ms-input-placeholder {  
color: rgba(245,245,245 ,1) !important;  
}

input::-webkit-input-placeholder {
color: rgba(245,245,245 ,1) !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: rgba(245,245,245 ,1) !important;
opacity: 1;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: rgba(245,245,245 ,1) !important;
opacity: 1;  
}
 
input:-ms-input-placeholder {  
color: rgba(245,245,245 ,1) !important;  
}

.form_field , .form_field:focus {
    color: white;
}

.user, .email, .subject, .message {
    color: white;
    margin-top: 15px;
    position: relative;
    right: 35px;
    z-index: 0;
}

.message {
  overflow: hidden;
  bottom: 161px;

}

/* =============== Media Queries ========================= 
   ========================================================*/
@media only screen and (max-width: 1024px){

.inner_wrapper {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 88px;
}
    
    
    
}

@media screen and (max-width: 768px) {

.inner_wrapper {    
    width: auto;
    margin: 0 15px 88px;
    
    }
    
/*------ Navigation & Header -----------*/
    
    .menu-btn {
        right: 25px;
    }
    .menu li {
        float: none;
        width: 100%;
        height: 25%;
    }
    
    
    
}

@media screen and (max-width: 540px) {

.inner_wrapper {    

    margin: 0 0 88px;
    
    }